.header-receipt {
  padding-left: 1.5cm;
  .ant-divider {
    border-block-start: 0.8px solid black !important;
    // color: $color-black !important;
    margin: 2px;
  }
  * {
    font-size: 19px;
  }
}
