# MongoDB
MONGODB_URI=mongodb://localhost:27017/fda

# JWT
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_to_another_long_random_string
JWT_REFRESH_EXPIRES_IN=7d

# App
PORT=3001
NODE_ENV=development
